* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(230, 230, 230);
    background-repeat: no-repeat;


}


div.wrapp {
    max-width: 1680px;
    height: 100vh;
    margin: 0 auto;
    position: relative;

}

div.box {
    position: absolute;
    width: 90vh;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


div.box>div {
    position: absolute;
    width: 100%;
    height: 75vh;
    background-size: cover;

}



.box div:first-of-type {
    background-image: url(img/alex-talmon-UFskvng2OMU-unsplash.jpg);
    z-index: 1;


}

div:nth-of-type(2) {
    background-image: url(img/koushik-chowdavarapu-JT8IWAaxpQk-unsplash.jpg);
}

div:nth-of-type(3) {
    background-image: url(img/norris-niman-ABtmE3jhaPQ-unsplash.jpg);
}


button {
    position: absolute;
    top: 90%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px;
    width: 30%;
    background-color: rgb(78, 118, 59, 0.7);
    border: 0;
    color: #fff;
    cursor: pointer;

}


.firstBtn {
    left: 5%;
    border-radius: 30px;
}

.secondBtn {
    right: 5%;
    border-radius: 30px;
}

.closeBtn {
    width: 20%;
    background-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: bold;
    top: 10px;
    right: 0;
    z-index: 1;
}


p {
    position: absolute;
    font-size: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.one {
    z-index: 1;

}

.two {
    z-index: 1;

}